.user-profile {
	display: flex;
	align-items: center;
}

.user-profile img {
	width: 45px;
	border-radius: 50%;
	margin-right: 10px;
}

.user-profile p {
	margin-bottom: 5px;
	font-weight: 500;
	color: #626262;
}

.user-profile small {
	font-size: 12px;
}

.user-profile span {
	font-size: 13px;
	color: #9a9a9a;
}

.post-text {
	color: #9a9a9a;
	margin: 15px 0;
	font-size: 15px;
}

.post-text span {
	color: #626262;
	font-weight: 500;
}

.post-text a {
	color: #1876f2;
	text-decoration: none;
}

.post-img {
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}

.post-row {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.activity-icons div img {

	width: 18px;
	margin-right: 10px;
}

.activity-icons div {
	display: inline-flex;
	align-items: center;
	margin-right: 30px;
}

.post-profile-icon {
	display: flex;
	align-items: center;
}

.post-profile-icon img {
	width: 20px;
	border-radius: 50%;
	margin-right: 5px;
}

.post-row a {
	color: #9a9a9a;
}